page-about {
    .titleimg{
        height: 200px;
        width: 100%;
        background: #efefef;
        text-align: center;
    }
    .titleimg img{
        width: 70px;
        height: 70px;
        display: inline-block;
        margin-top: 65px;
        border-radius: 35px;
    }

}
