page-news {
    .titles{
        overflow-x: scroll;
        white-space: nowrap;
        height: 45px;
        line-height: 45px;
        border-bottom: 1px solid #efeff4;
    }
    
    .titsap{
        width: 20%;
        float: left;
    }
    .contt{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

}
